
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>price talk</title>
</head>
<body>
<% if current_user %>
	<% if current_user.admin == true %>
		<br>
			<%= link_to "new price talk", new_pricetalk_path, class: "watch-btn" %>
		<br>
	<% end %>
<% end %>
	<br>
	<h3 class="center-txt">
		Watch Price Talk
	</h3>

	<% if @pricetalks.any? == false %>
		<p>pricetalk coming soon....</p>
	<% end %>

	<% @pricetalks.each do |pricetalk| %>
	<%= link_to pricetalk_path(pricetalk.id), class: 'no-style' do %>	
		<div class="card-product m-5">
			<% if pricetalk.photo1.key.present? %>
				<%= cl_image_tag pricetalk.photo1.key, height: 375, width: 280, crop: :fill %>
			<% end %>
		  <div class="card-product-infos">
		    <h2><%= pricetalk.title %></h2>
		    <p><%= pricetalk.para1 %></p>
		  </div>
		</div>
	<% end %>
	<% end %>

</body>
</html>


<style type="text/css">
	.pricetalk_box{
		height: 200px;
	}
</style>


