<%= render "layouts/header" %>
<br>
<br>
<%= link_to "new watch", new_watch_path, class: "watch-btn" %>
<br>
<br>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>watches</title>
</head>
<body>
<br>
<br>
	<% for x in @watches %>
	<!-- watch box -->
	<%= link_to	watch_path(x.id) do %>
		<div style="border: 1px solid black;" class="box">
			<p class="center-txt">
				<%= x.brand %>
			</p>
			<img src="https://cdn-images.farfetch-contents.com/18/46/81/34/18468134_39828104_1000.jpg" style="max-width: 70%; display: block; margin: auto;" class="mt-1">
			<p class="center-txt">
				<%= x.name %> - <%= x.price %>				
			</p>
			</p>
		</div>
	<% end %>
	<!-- watch box end -->
	<% end %>
</body>
</html>


<style type="text/css">
	.box{
		width: 320px;
		height: 450px;
	}
	.box:hover {
		opacity: 0.5;
		cursor: pointer;
	}
	.watch-btn{
		padding: 15px;
		border:  1px solid black;
		margin: 5px;
		font-style: none;
		color: black;
		text-decoration: none;
		border-radius: 3px;
	}
	.watch-btn:hover{
		opacity:  0.5;
	}
</style>