<br>

<% if current_user.admin == true %>
<div class="d-flex justify-content-center">
	<%= link_to "new watch", new_watch_path, class: "watch-btn" %>
</div>
	<br>
	<br>
<div class="d-flex justify-content-center">
	<%= link_to "all enquiries", all_emails_path, class: "cool-btn" %>
</div>
	<br>
	<br>
<% end %>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>watches</title>
</head>
<body>

	<div class="d-flex justify-content-center">
		<%= link_to	'SUBSCRIBE TO OUR MAILING LIST', new_mailinglist_path, class: 'cool-btn text-center' %>	
	</div>

<span class="container">
	<div class="row d-flex justify-content-center">
			<% for x in @watches %>
			<!-- watch box -->
			<div style="border: 1px solid black;" class="box col-lg-4 m-3">
			<%= link_to	watch_path(x.id) do %>
					<br>
					<div class="d-flex justify-content-center">
						<% if x.photo1.key.present? %>
							<%= cl_image_tag x.photo1.key, height: 375, width: 280, crop: :fill %>
						<% end %>
					</div>
			<% end %>
					<p class="center-txt txt" style="text-decoration: none;">
						<%= x.name %> - <%= x.price %>				
					</p>
					</p>
			</div>
			<!-- watch box end -->
			<% end %>
		</section>
</span>

</body>
</html>


<style type="text/css">
	.box{
		width: 320px;
		height: 450px;
	}
	.box:hover {
		opacity: 0.5;
		cursor: pointer;
	}
	
	.title-txt{
        font-size:20px;
        text-decoration:none;
        padding: 10px;
        color:  black;
        border:  1px solid black;
	}

	.txt{
		margin-top: 7px;
		font-size: 19px;
		color: black;
		text-decoration: none;
	}
</style>

