<% if current_user.admin == true %>
<h4 class="center-txt">ADMIN ONLY</h4>
<br>
<section class="d-flex-center">

	<%= form_for @watch, :url => watch_index_path do |f| %>
		
	  <%= f.text_field :name, class: "input-field", placeholder: "NAME", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :condition, class: "input-field", placeholder: "CONDITION", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :price, class: "input-field", placeholder: "PRICE", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :currency, class: "input-field", placeholder: "CURRENCY", required: true %>
	  <br>
	  <br>
	  <%= f.number_field :production_year, class: "input-field", placeholder: "PROD. YEAR", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :brand, class: "input-field", placeholder: "BRAND", required: true%>
	  <br>
	  <br>
	  <%= f.text_field :original_box, class: "input-field", placeholder: "ORIGINAL BOX?", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :original_papers, class: "input-field", placeholder: "ORIGINAL PAPERS?", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :location, class: "input-field", placeholder: "LOCATION", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :listing_code, class: "input-field", placeholder: "LISTING CODE", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :model, class: "input-field", placeholder: "MODEL", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :reference_number, class: "input-field", placeholder: "REFERNCE NUMBER", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :case_material, class: "input-field", placeholder: "CASE MATERIAL", required: true %>
	  <br>
	  <br>
	  <%= f.text_field :movement, class: "input-field", placeholder: "MOVEMENT", required: true%>
	  <br>
	  <br>
	  <%= f.text_field :bracelet_material, class: "input-field", placeholder: "BRACELET MATERIAL", required: true %>
	  <br>
	  <br>
	  <%= f.text_area :description, class: "p-2 textarea-field", style: 'padding-left:15px;', placeholder: "description", required: true %>
	  <br>
	  <br>

	  <p>
	  	front pic
	  </p>
  	  <%= f.file_field :photo1, as: :file %>
  	  <br>
  	  <br>
  	  <p>
	  	pic 2
	  </p>
  	  <%= f.file_field :photo2, as: :file %>
  	  <br>
  	  <br>
  	  <p>
	  	pic 3
	  </p>
  	  <%= f.file_field :photo3, as: :file %>
  	  <br>
  	  <br>
  	  <%= f.submit 'UPLOAD', :class => 'submit-btn' %>

	<% end %>

</section>


<style type="text/css">
	.input-field{
		height: 35px;
		min-height: 35px;
		min-width: 300px;
		width: 300px;
		font-size: 16px;
		padding-left: 15px;
	}

	.select-field{

	}

	::placeholder{
		font-size: 16px;
		color: grey;
	}

	.textarea-field{
		height: 80px;
		width: 315px;
	}

	.submit-btn{
		padding: 30px 120px;
		background-color:  white;
		border:  1px solid black;
	}
	.submit-btn:hover{
		opacity:  0.5;
	}
</style>

<% end %>