<!DOCTYPE html>
<html>
  <head>
    <title>Boyzclub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= javascript_importmap_tags %>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>

  <body style="background-color: rgba(0, 57, 81, 0.08);" class="m-4">
    <%= render "layouts/header" unless @disable_nav %>

    <%= yield %>
  </body>
  <%= render 'layouts/footer' unless @disable_nav %>
</html>
